body {
    background-color: #FEFFDE; 
}

.login-box {
    height: 30rem;
    width: 30%;
    margin: auto;
    margin-top: 15rem;
}

.login-box-text {
    padding: 0.5rem;
    right: 30px;
    color:black;
}

.login-box-text-p {
    position: relative;
    left: 2px;
    
}

.password-holder {
    position: relative;
    left: 4px;
}

.login-btn{
    position: relative;
    left: 305px;
    width: 80px;
    top: 50px
}

.oauthbutton {
    position: relative;
    left: 110px;
    top: 13px;
}

.text-signup {
    position: relative;
    top: 30px;
}

#message{
    text-align: center;
    position: relative;
    top:3rem;
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: black;

}


.message {
    text-align: center;
    position: relative;
    top:3rem;
    font-size: 1rem;
    font-family: "Montserrat";
    font-weight: 400;
    color: black;


}
